<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="web/libs/fontawesome-free/css/all.css" />
    <link rel="stylesheet" href="web/css/style.css">
    <title>PSaaS Dashboard 1.0</title>
</head>

<body>

    <h1>PSaaS Open API Dashboard</h1>
    <div id='test-div'>
        <h2>Testing</h2>
        <hr>
        This is normal text.
    </div>

</body>

</html>